# MissionWired Data Engineer Exercise
**Question 2:**<br>
Use the output of question 1 to produce an “acquisition_facts” file with the following schema that aggregates stats about when people in the dataset were acquired. Save it to the working directory.

| Column           | Type | Description                                         |
| ---------------- | ---- | --------------------------------------------------- |
| acquisition_date | date | Calendar date of acquisition                        |
| acquisitions     | int  | Number of constituents acquired on acquisition_date |

In [1]:
import pandas as pd

## Step 1: Load in data
I'll bring in the file from the previous question

In [2]:
people = pd.read_csv('./people.csv')
people.info()
people.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605639 entries, 0 to 605638
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   email       605639 non-null  object
 1   code        302940 non-null  object
 2   is_unsub    605639 non-null  int64
 3   created_dt  605639 non-null  object
 4   updated_dt  605639 non-null  object
dtypes: int64(1), object(4)
memory usage: 23.1+ MB

,email,code,is_unsub,created_dt,updated_dt
0,xmartinez@vincent.com,NaN,0,"Tue, 1997-09-30 01:41:35","Thu, 1981-02-26 19:36:22"
1,hmiller@haynes.biz,google,0,"Thu, 2014-03-27 23:18:18","Mon, 2012-12-10 18:46:32"
2,aaron64@yahoo.com,NaN,1,"Mon, 1992-06-01 06:07:45","Mon, 1986-07-28 03:41:12"
3,wyattvincent@hotmail.com,NaN,1,"Sun, 1993-05-23 08:00:18","Sat, 1983-05-07 09:29:18"
4,tspencer@hotmail.com,twitter,1,"Fri, 1986-10-31 03:24:05","Sat, 1979-09-22 05:01:01"

## Step 2: Convert datetimes
I decided to keep the datetimes in their original format for question 1. As a result, I need to convert them to actual datetime objects here.

In [3]:
people['created_dt'] = pd.to_datetime(people['created_dt'], format='%a, %Y-%m-%d %H:%M:%S')
people['updated_dt'] = pd.to_datetime(people['updated_dt'], format='%a, %Y-%m-%d %H:%M:%S')
print(f"created_dt --> {people['created_dt'].dtype}")
print(f"updated_dt --> {people['updated_dt'].dtype}")

created_dt --> datetime64[ns]
updated_dt --> datetime64[ns]

## Step 3: Final formatting and output

In [4]:
# Add a column that's just the date of creation (no time)
people['acquisition_date'] = people['created_dt'].dt.date
people.head()

,email,code,is_unsub,created_dt,updated_dt,acquisition_date
0,xmartinez@vincent.com,NaN,0,1997-09-30 01:41:35,1981-02-26 19:36:22,1997-09-30
1,hmiller@haynes.biz,google,0,2014-03-27 23:18:18,2012-12-10 18:46:32,2014-03-27
2,aaron64@yahoo.com,NaN,1,1992-06-01 06:07:45,1986-07-28 03:41:12,1992-06-01
3,wyattvincent@hotmail.com,NaN,1,1993-05-23 08:00:18,1983-05-07 09:29:18,1993-05-23
4,tspencer@hotmail.com,twitter,1,1986-10-31 03:24:05,1979-09-22 05:01:01,1986-10-31

In [5]:
acquisitions = people.groupby('acquisition_date')['email'].count().rename('acquisitions')

In [6]:
acquisitions.to_csv('./acquisition_facts.csv')